Source: remote-logon-service
Section: misc
Priority: extra
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: dbus-test-runner,
               debhelper (>= 9),
               intltool (>= 0.35.0), 
               libdbus-1-dev,
               libdbustest1-dev,
               libgcrypt11-dev,
               libglib2.0-dev (>= 2.29.19),
               libjson-glib-dev,
               libnm-glib-dev,
               libsoup2.4-dev,
               dh-autoreconf,
               libgtest-dev,
               python,
               python3,
Standards-Version: 3.9.8
Homepage: http://arctica-project.org
Vcs-Git: git://cgit.arctica-project.org/remote-logon-service.git
Vcs-Browser: https://cgit.arctica-project.org/remote-logon-service.git/

Package: remote-logon-service
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Recommends: remote-logon-config-agent
Description: Service to track the remote servers to use
 A small service to take the various sources for the remote
 services and bring them into a simple DBus list.
